@import "../variables.scss";

.card-button {
    &-wrap {
        display: flex;
        // text-align: center;
        box-shadow: $box-shadow2;
        border-radius: 10px;
        padding: 10px;
        width: fit-content;
        min-width: 180px;
        margin: 5px 10px;
        &:hover {
            cursor: pointer;
            transition: box-shadow .8s;
            box-shadow: 0 0 8px 2px rgba(33,33,33,.2);
            .card-button {
                &__icon {
                    transform: rotate(360deg);
                    -webkit-transform: rotate(360deg);
                    transition: transform 1s ease all;
                    -webkit-transition: transform 1s ease all;
                    transform-origin: center;
                    -webkit-transform-origin: center;
                }
            }
        }
        @include mobile {
            padding: 5px;
            min-width: 90px;
            margin: 6px;
            &:hover {
                .card-button {
                    &__icon {
                        transform: none;
                    }
                }
            }
        }
    }
    &__icon {
        height: 48px;
        transition: 1s ease all;
        -webkit-transition: 1s ease all;
        @include mobile {
            height: 32px;
        }
        img {
            width: 48px;
            height: 48px;
            @include mobile {
                width: 32px;
                height: 32px;
            }
        }
    }
    &__content {
        margin: 5px 20px 0 20px;
        @include mobile {
            margin: 3px 0 0 3px;
        }
        &-action {
            font-size: 13px;
            opacity: 0.5;
            @include mobile {
                font-size: 11px;
            }
        }
        &-label {
            font-size: 20px;
            font-weight: bold;
            color: $purple-text2;
            &.orange {
                color: $orange3;
            }
            @include mobile {
                font-size: 14px;
            }
        }
    }
}
