@import "../variables.scss";

.main-content {
    &-wrap {
        height: 100%;
        display: flex;
        flex-direction: column;
        @include mobile {
            margin: 0 4px;
        }
    }
    &__action-btn {
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    &__benchmark-wrap {
        flex-grow: 1;
        margin-top: 10px;
        @include mobile {
            margin-top: 5px;
        }
    }
}
