//colors
$white: #fff;
$black: #000;
$purple-text1: #663399;
$purple-text2: #814fb3;
$orange1: #ffcd38;
$orange2: #fff6dc;

$main-background: $white;



//
$box-shadow1: 0 1px 15px rgba(0,0,0,.04), 0 1px 6px rgba(0,0,0,.04);
