$header-height: 48px;
$footer-min-height: 36px;
$footer-height: 72px;
$footer-max-height: 92px;
$component-padding: 20px;
$component-padding-m: 5px;
$component-padding1: 10px;


//colors
$white: #fff;
$black: #000;
$purple-text1: #663399;
$purple-text2: #814fb3;
$purple-text3: #9973bf;
$orange1: #ffcd38;
$orange2: #fff6dc;
$orange3: #fcbd5f;
$gray1: lighten(black, 10%);
$gray2: lighten(black, 20%);
$gray3: lighten(black, 30%);
$gray4: lighten(black, 40%);
$gray5: lighten(black, 50%);
$gray6: lighten(black, 60%);
$gray7: lighten(black, 70%);
$gray8: lighten(black, 80%);
$gray9: lighten(black, 90%);
$gray10: lighten(black, 96%);

$main-background: $white;

//font
$main-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;



//shadow
$box-shadow1: 0 1px 15px rgba(0,0,0,.04), 0 1px 6px rgba(0,0,0,.04);
$box-shadow2: 0 4px 20px 1px rgba(0,0,0,.06), 0 1px 4px rgba(0,0,0,.08);

//screen size
$screen-sm-min: 576px;
$screen-md-min: 768px;

//mixin
@mixin tablet {
    @media screen and (max-width: $screen-md-min) {
        @content;
    }
}

@mixin mobile {
    @media screen and (max-width: $screen-sm-min) {
        @content;
    }
}